{% extends 'diary/base.html' %}
{% load static %}

{% block title %}サインアップ|Private Diary{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center my-div-style">
                    <h1>サインアップ</h1>
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                            
                        {{ form.as_p }}
                            
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="offset-sm-4 col-sm-8">
                            <button class="btn btn-primary" type="submit">登録</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}